<!-- HTML by: Anderson Mário Neto | UI Designer -->

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <!-- Buscadores do google -->
    <meta name="keywords" content="AnderPlus, Marketplace">
    <meta name="description" content="AnderPlus, Marketplace, Loja online">

    <!-- Style css -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/banner2.css">
    <link rel="stylesheet" href="../css/boxchat.css">
    <link rel="stylesheet" href="../css/parceiros.css">
    <link rel="stylesheet" href="../css/footer.css">

    <!-- Js menu hamburger -->
    <script defer src="../js/menu.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/sell_stock_60px.png" />

    <!-- Titulo -->
    <title>AnderStore.ao - Marketplace</title>
</head>
<body>
    <header class="cabecalho">
        <div class="area1 glass">
            <div class="logo">
                <a href="home.html"><img src="../img/texto.png" alt="Logotipo"></a>
            </div>
            
            
            <nav class="menu nav">
                <ul class="nav-list">
                    <li><a href="home.html">Marketplace</a></li>
                    <li><a href="caixaDeEntrada.html">Caixa de Entrada</a></li>
                    <li><a href="notificacoes.html">Notificações</a></li>
                    <li><a href="compra.html">Compra</a></li>
                    <li><a href="venda.html">Venda</a></li>
                </ul>
            </nav>

            <div class="btn">
                <!-- <a href="perfil.html" class="button"><img src="../img/perfiluser.png"> &nbsp Perfil</a> -->
                <a href="perfil.html"><img class="foto" src="../img/foto perfil.png"></a>
                <!-- <a href="perfil.html" class="button2"><img src="../img/perfiluser.png"></a> -->
            </div>

            <img class="hamburger" src="../img/menu.png" alt="">
        </div>
    </header>

    <div class="pai">
        <div class="filho">
            <section class="banner product">
                <div class="title-box areaP areaT">
                    <a href="perfil.html">
                    <div class="perfil">
                        <img class="foto" src="../img/foto perfil.png">
                        <div class="texto">
                            <span class="nome"> Anderson Mário Neto </span> <br>
                            <span class="data"> online a 3 horas... </span>
                        </div>
                    </div>
                    </a>
                </div>
                <form action="">
                    <textarea placeholder="Digite sua mensagem..."></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </section>
        </div>
        <div class="filho">
            <section class="productD">
                <div class="areaP">
                    <div class="descricao">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam similique nisi aspernatur eum dolor odit neque incidunt, beatae dolore libero iure necessitatibus repudiandae, quo voluptatibus dignissimos pariatur voluptate eius?
                    </div>
                </div>
            </section>
        
            <section class="productE">
                <div class="areaP">
                    <div class="descricao">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam similique nisi aspernatur eum dolor odit neque incidunt, beatae dolore libero iure necessitatibus repudiandae, quo voluptatibus dignissimos pariatur voluptate eius?
                    </div>
                </div>
            </section>
        
            <section class="productD">
                <div class="areaP">
                    <div class="descricao">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam similique nisi aspernatur eum dolor odit neque incidunt, beatae dolore libero iure necessitatibus repudiandae, quo voluptatibus dignissimos pariatur voluptate eius?
                    </div>
                </div>
            </section>
        
            <section class="productE">
                <div class="areaP">
                    <div class="descricao">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam similique nisi aspernatur eum dolor odit neque incidunt, beatae dolore libero iure necessitatibus repudiandae, quo voluptatibus dignissimos pariatur voluptate eius?
                    </div>
                </div>
            </section>
        </div>
    </div>

    

   
    
    
</body>
</html>
