<!-- HTML by: Anderson Mário Neto | UI Designer -->

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <!-- Buscadores do google -->
    <meta name="keywords" content="AnderPlus, Marketplace">
    <meta name="description" content="AnderPlus, Marketplace, Loja online">

    <!-- Style css -->
    <link rel="stylesheet" href="../css/header.css">

    <!-- Js menu hamburger -->
    <script defer src="../js/menu.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/sell_stock_60px.png" />

    <!-- Titulo -->
    <title>AnderStore.ao - Marketplace</title>
</head>
<body>
    <header class="cabecalho">
        <div class="area1 glass">
            <div class="logo">
                <a href="home.html"><img src="../img/texto.png" alt="Logotipo"></a>
            </div>
            
            
            <nav class="menu nav">
                <ul class="nav-list">
                    <li><a href="home.html">Marketplace</a></li>
                    <li><a href="caixaDeEntrada.html">Caixa de Entrada</a></li>
                    <li><a href="notificacoes.html">Notificações</a></li>
                    <li><a href="compra.html">Compra</a></li>
                    <li><a href="venda.html" class="active">Venda</a></li>
                </ul>
            </nav>

            <div class="btn">
                <a href="perfil.html" class="button"><img src="../img/perfiluser.png"> &nbsp Perfil</a>
                <a href="perfil.html" class="button2"><img src="../img/perfiluser.png"></a>
            </div>

            <img class="hamburger" src="../img/menu.png" alt="">
        </div>
        <div class="search">
            
        </div>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="parceiros"> 
        <div class="area7">
            <img src="../img/texto.png" alt="">
            <img src="../img/texto.png" alt="">
            <img src="../img/texto.png" alt="">
            <img src="../img/texto.png" alt="">
            <img src="../img/texto.png" alt="">
        </div>
    </section>
    
    <section class="rodape">
        <div class="area8">
            <div class="rodape1 scroll-1">
                <h4><img src="../img/texto.png" alt="Logotipo"></h4>
                <p>AnderStore, seu lugar de comércio "compra e venda" em multiplas lojas, sem filas, com multiplas escolhas e comparações de preços tudo isso em um só lugar 24h por dia, sem ter de sair de casa.</p>
            </div>
            <div class="rodape2 scroll-2">
                <h4>Navegação</h4>
                <p><a href="#">Marketplace</a></p>
                <p><a href="#">Compra</a></p>
                <p><a href="#">Venda</a></p>
                <p><a href="#">Perfil</a></p>
            </div>
            <div class="rodape3 scroll-4">
                <h4>AnderStore</h4>
                <p><a href="#">Sobre</a></p>
                <p><a href="#">Projectos</a></p>
                <p><a href="#">Como geramos fundo</a></p>
                <p><a href="#">Políticas de Privacidade</a></p>
            </div>
            <div class="rodape4 scroll-6">
                <h4>Parceiros</h4>
                <p><a href="#">Vendas do Cury</a></p>
                <p><a href="#">Bussines Place</a></p>
                <p><a href="#">Kiala Artes</a></p>
                <p><a href="#">Gil Pro</a></p>
            </div>
        </div>
        <hr>
        <div class="area9 scroll-6">
            <p><span>&copy; 2023 ANDERSTORE</span> | Termos e Condições | Políticas de Privacidade | UI  by Anderson Mário Neto</p>
            <p>
                <a href="#"><img src="../img/ico8.png" alt=""></a>
                <a href="#"><img src="../img//ico9.png" alt=""></a>
                <a href="#"><img src="../img//ico10.png" alt=""></a>
                <a href="#"><img src="../img//ico11.png" alt=""></a>
            </p>
        </div>
    </section>

    
</body>
</html>